<ngx-bread-crumb></ngx-bread-crumb>
<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-6"><span style="font-size: 20px;">Gestion Bon Commandes</span></div>
      <div class="col-md-6"><span style="float: right"> {{dta.totalRecords}} Bon(s) Commande(s)&nbsp;&nbsp;</span></div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-12">
        <button type="button" *ngIf="!affichefilter" style="float: right;background: #79008e !important;" nbButton
          [shape]="'round'" (click)="affichefilter=true"> Afficher plus de critéres de
          recherche</button>&nbsp;&nbsp;
        <button type="button" *ngIf="affichefilter" style="float: right" nbButton status="warning" [shape]="'round'"
          (click)="affichefilter=false"> Cacher les critères de
          recherche</button>&nbsp;&nbsp;
      </div>
    </div>
    <br>

    <fieldset *ngIf="affichefilter">
      <legend>Critéres de recherche</legend>

      <div class="row" style="padding-bottom: 10px;">


        <div class="col-sm-3 ">
          <label class="label">Categorie:</label><br>
          <nb-select [(selected)]="nomcatbon" fullWidth placeholder="Default" (ngModelChange)="select1($event)"
            name="nomCategorie" #nomCategorie="ngModel" [(ngModel)]="typeSel1">
            <nb-option value="default">Default </nb-option>
            <nb-option *ngFor="let cat of cat" value="{{cat}}">{{cat}}
            </nb-option>
          </nb-select>

        </div>
        <div class="col-sm-3 ">
          <label class="label">Statut:</label><br>
          <nb-select [(selected)]="statusbon" fullWidth placeholder="Default" (ngModelChange)="select2($event)"
            name="status" #status="ngModel" [(ngModel)]="typeSel2">
            <nb-option value="default">Default </nb-option>
            <nb-option value="0">crée </nb-option>
            <nb-option value="1">en cour </nb-option>
            <nb-option value="2">traité </nb-option>
          </nb-select>

        </div>

        <div class="col-sm-3 ">
          <label class="label">Type:</label><br>
          <nb-select [(selected)]="typebon" fullWidth placeholder="Default" (ngModelChange)="select3($event)"
            name="type" #type="ngModel" [(ngModel)]="typeSel3">
            <nb-option value="default">Default </nb-option>
            <nb-option value="Fournisseur">Fournisseur </nb-option>
            <nb-option value="Centrale">Centrale </nb-option>
          </nb-select>
        </div>
        <div class="col-sm-3 ">
            <label class="label">Pointvente:</label><br>
            <nb-select [(selected)]="pointvente" fullWidth placeholder="Default" (ngModelChange)="select4($event)"
              name="nomCategorie" #nomCategorie="ngModel" [(ngModel)]="point">
              <nb-option value="default">Default </nb-option>
              <nb-option *ngFor="let point of listepointsVente" value="{{point}}">{{point}}
              </nb-option>
            </nb-select>
  
          </div>

        
      </div>


      <div class="row">
        <div class="col-sm-3 ">
          <label class="label">Date:</label><br>
          <input nbInput fullWidth placeholder="Default" [nbDatepicker]="picker" [(ngModel)]="datedeb">
          <nb-datepicker (dateChange)="filterDateDeb($event)" #picker></nb-datepicker>
        </div>
        <div class="col-sm-3 ">
          <label class="label">Date:</label><br>
          <input nbInput fullWidth placeholder="Default" [nbDatepicker]="picker1" [(ngModel)]="datefin">
          <nb-datepicker (dateChange)="filterDateFin($event)" #picker1></nb-datepicker>
        </div>
        <div class="col-sm-3">
          <nb-checkbox (checkedChange)="ShowAllBons()" [ngModel]="AllBonCommande" status="success">Afficher toute les Bon de Commandes</nb-checkbox>
      </div>


        <div class="col-sm-3">
          <button nbButton type="button" status="danger" (click)="clean()"
            style="background: #ff3d71; border-color: white;float:right;  margin-top: 13px; " [shape]="'round'">
            <nb-icon icon="close-outline"></nb-icon>
          </button>
        </div>
      </div>
    </fieldset>



    <nb-tabset>
      <nb-tab tabTitle="Liste Bon Commandes">
          <div class="col-md-3">
          </div>
          <div class="col-md-5">

          </div>

        <br>
        <div class="row">
          <div class="col-md">
            <div class="upload-btn-wrapper">
              <!--<button class="btn cursor" style="margin-top: 15px; background-color: orange;"  (click)="exportExcel()" >Exporter Catégorie Article</button>-->
            </div>
          </div>
        </div>
        <p-table rowExpandMode="single" [value]="bon$" dataKey="idBonCommande" [loading]="loading" [rowsPerPageOptions]="[20,30,50]" #dta
          [rows]="20" [paginator]="true" [responsive]="true" autoLayout="true"
          [globalFilterFields]="['numBonCommande','date']">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem"></th>
              <th pSortableColumn="numBonCommande">Numero Bon Commande <p-sortIcon field="numBonCommande"></p-sortIcon>
              </th>
              <th pSortableColumn="nomPointVente">Pointvente <p-sortIcon field="nomPointVente"></p-sortIcon>
              </th>
              <th pSortableColumn="nomCategorie">Catégorie <p-sortIcon field="nomCategorie"></p-sortIcon>
              </th>
              <th pSortableColumn="nomFournisseur">Type <p-sortIcon field="nomFournisseur"></p-sortIcon>
              </th>
              <th pSortableColumn="statut">Statut <p-sortIcon field="statut"></p-sortIcon>
              </th>
              <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon>
              </th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-bon let-expanded="expanded" let-i="rowIndex">
            <tr [ngStyle]="{'background-color':expanded ? '#C9FF80' : 'white' }" *ngIf="bon.statut !='0'">
              <td>
                <button type="button" (click)="getListeCommande(bon.idBonCommande,i)" pButton pRipple
                  [pRowToggler]="bon" class="p-button-text p-button-rounded p-button-plain"
                  [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
              </td>
              <td>{{bon.numBonCommande}}</td>
              <td>{{bon.nomPointVente}}</td>
              <td>{{bon.nomCategorie}}</td>
              <td><span *ngIf="bon.type=='Fournisseur'">{{bon.type}} : {{bon.nomFournisseur}}</span><span
                  *ngIf="bon.type=='Centrale'">{{bon.type}}</span></td>
              <td>{{getStatus(bon.statut)}}</td>
              <td>{{bon.date|date}}</td>
              <td >
                  <i *ngIf="bon.statut=='1'" (click)="Traiter(bon)" class="fas fa-truck cursor buttonround editbutton" nbTooltip="Traiter Bon Commande" nbTooltipPlacement="bottom"></i>    
                  <button  *ngIf="bon.statut=='2'" class="btn btn-primary" style="background-color: white; border-color:white; color:#417bff"
          (click)="onSubmit(bon)" pInputText
          pTooltip="Enter your name" tooltipPosition="bottom" placeholder="Bottom"><img
            src="../../../assets/images/export-pdf.PNG" style="width: 30px" alt="pdf"></button>
              </td>
            </tr>
          </ng-template>
          <ng-template  pTemplate="rowexpansion" let-bon let-rb="rowIndex">
            <tr>
              <td colspan="6" >
                <div class="p-3">
                  <!--Starts HERE-->

                  <p-table [value]="bon.ListeCommandes" dataKey="idCommandePv" [loading]="loading2" autoLayout="true">
                    <ng-template pTemplate="header">
                      <tr>
                        <th style="width: 3rem"></th>
                        <th pSortableColumn="numCommande">Numero Commande <p-sortIcon field="numCommande"></p-sortIcon>
                        </th>
                        <th pSortableColumn="dateCreation">Date de Création<p-sortIcon field="dateCreation"></p-sortIcon>
                        </th>
                        <th pSortableColumn="dateReelLivraision">Date de Livraison <p-sortIcon field="dateReelLivraision">
                          </p-sortIcon>
                        </th>
          
                      </tr>
          </ng-template>
          <ng-template pTemplate="body" let-commande let-expanded="expanded" let-j="rowIndex">
            <tr>
              <td>
                <button type="button" (click)="getListeDetailCommande(commande.idCommandePv,commande.idBonCommandePV,j)"
                  pButton pRipple [pRowToggler]="commande" class="p-button-text p-button-rounded p-button-plain"
                  [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
              </td>
              <td>{{commande.numCommande}}</td>
              <td>{{commande.dateCreation | date :'HH:mm' }}</td>
              <td>{{commande.dateReelLivraision | date :'HH:mm' }}</td>
              

            </tr>
          </ng-template>
          <ng-template pTemplate="rowexpansion" let-commande let-rc="rowIndex">
            <tr>
              <td colspan="6">
                <div class="p-3">
                  <p-table [value]="commande.ListeDetailCommande" #ddetails dataKey="idDetailPV" [loading]="loading3"
                    editMode="row" autoLayout="true">
                    <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="nomProduit">Produit <p-sortIcon field="nomProduit"></p-sortIcon>
              </th>
              <th pSortableColumn="quantiteDemande">Quantité Demandée<p-sortIcon field="quantiteDemande"></p-sortIcon>
              </th>
              <th pSortableColumn="quantiteLivree">Quantité Livrée <p-sortIcon field="quantiteLivree"></p-sortIcon>
              </th>
              <th pSortableColumn="quantiteRestante">Quantité Restante <p-sortIcon field="quantiteRestante">
                </p-sortIcon>
              </th>
              <th style="width:8rem"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-detail let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="detail">
              <td>
                {{detail.nomProduit}}

              </td>
              <td>
              
                    {{detail.quantiteDemande}}

              </td>
              <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input type="number" maxlength="100" nbInput placeholder="Quantite Livrée"
                        [(ngModel)]="detail.quantiteLivree" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{detail.quantiteLivree}}
                    </ng-template>
                  </p-cellEditor>
            
            
            </td>
              <td>{{detail.quantiteRestante}}</td>
              <td style="text-align:center" *ngIf="bon.statut=='1'">
                <button *ngIf="!editing" style="float: right" pButton pRipple type="button" pInitEditableRow
                  icon="pi pi-pencil" (click)="onRowEditInit(detail,rb,rc,ri,bon.idCategorie)"
                  class="p-button-rounded p-button-text"></button>
                <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                  class="ui-button-success"
                  (click)="onRowEditSave(detail)"></button>
                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                  class="ui-button-danger" (click)="onRowEditCancel(detail, ri, rb,rc)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
        </div>
        </td>
        </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">Il n'y a pas encore de commande pour ce produit.</td>
            </tr>
        </ng-template>
        </p-table>

        </div>
        </td>
        </tr>
        </ng-template>
        </p-table>
      </nb-tab>
      <nb-tab tabTitle="Ordonner Bon Commandes" *ngIf="idpointVente==null">
      </nb-tab>
    </nb-tabset>

  </nb-card-body>
</nb-card>