p-table{
    width: 100%;

}
.example-expanded-row {
    background: red;
  }

  .INFORMATION+.ui-expanded-row-content {
    background-color:red;
}
.DECISION+.ui-expanded-row-content {
    background-color:yellow;
}