<ngx-bread-crumb></ngx-bread-crumb>
<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-6"><span style="font-size: 20px;">Action Commerciale</span></div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <!-- <div class="row">
          <div class="col-md-12">
                  <button type="button" *ngIf="!affichefilter"  style="float: right;background: #79008e !important;"  nbButton [shape]="'round'" (click)="affichefilter=true"> Afficher plus de critéres de recherche</button>&nbsp;&nbsp;
                  <button type="button" *ngIf="affichefilter"  style="float: right"  nbButton status="warning" [shape]="'round'" (click)="affichefilter=false"> Cacher les critères de recherche</button>&nbsp;&nbsp;
          </div>
    </div>
    <br>
    <fieldset *ngIf="affichefilter">
          <legend>Critéres de recherche</legend>
        
        <div class="row" style="padding-bottom: 10px;">
          <div class="col-sm-2">
                  <label  class="label">Catégorie</label>
                  <nb-select placeholder="Catégories" fullWidth multiple [(ngModel)]="listselectcateg" >
                      <nb-option *ngFor="let item of categories" [value]="item">
                      {{ item.designation }}
                      </nb-option>
                  </nb-select>
          
          </div>
          
          <div class="col-sm-4 ">
              <label  class="label"> Prix:</label><br>
              <span >de:&nbsp;&nbsp;</span>
              <input type="number" onkeypress="return event.charCode >= 46" min="0" [(ngModel)]="deprix" maxlength="100" nbInput >
          </div>
          <div class="col-sm-4 ">
              <label  class="label"></label><br>
              <span >à:&nbsp;&nbsp;</span>
              <input type="number" onkeypress="return event.charCode >= 46" min="0" [(ngModel)]="aprix" maxlength="100" nbInput >
          </div>
          
          <div class="col-sm-2 centreVerticalement">
              <label  class="label"> Date d'insertion:</label>
            <p-calendar  fullWidth [(ngModel)]="datecreation" placeholder="date" class="disgness pos"  dateFormat="dd-mm-yy" [locale]="calendar"  ></p-calendar>
          </div>
        
        </div>
        <div class="row" >
              <div class="col-sm-6">
                <button  nbButton type="button" *ngIf="fannule"  status="danger" (click)="annuler();fannule=false"  style="background: #ff3d71; border-color: white;float:left;  margin-top: 15px; " [shape]="'round'" >Annuler</button>
              </div>
              <div class="col-sm-6">
                <button type="submit"  nbButton status="success" (click)="search()" class="button-style" style=" float:right;border-color: white;  margin-top: 15px;" [shape]="'round'">Chercher</button>
              </div>
            </div>
        </fieldset> -->



    <div class="row" style="margin-top:2%;">
      <div class="col-md-3">
      </div>
      <div class="col-md-5">

      </div>

      <div class="col-md-4">
        <div class="" style="text-align: center; margin-top: 8px;">
          <button (click)="redirect()" style="float: right;" class="icon-btn add-btn">
            <div class="add-icon"></div>
            <div class="btn-txt">Ajouter une Action Commerciale</div>
          </button>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <!-- <span style="float: right">({{citoyens.length}} résultats)&nbsp;&nbsp;</span> -->
        <span style="float: right">{{dt.totalRecords}} Action(s)&nbsp;&nbsp;</span>

      </div>
    </div>
    <br>
    <p-table #dt [value]="packs" [columns]="cols" [rows]="10" [loading]="loading" [paginator]="true" [responsive]="true"
      autoLayout="true" [globalFilterFields]="['designation','prixPack']">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Chercher"
            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:40%; min-height: 34px;">
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Type Fidélité</th>
          <th>composition</th>
          <th>action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-mvt>
        <tr>
          <td>{{gettyprfid(mvt.typeFid)}}</td>
          <td *ngIf=" mvt.produitsCombines.length>0">
            <span *ngFor="let item of mvt.produitsCombines;let i=index">
              {{item.quantite}} {{getname(item.idProduit)}} <span *ngIf=" mvt.produitsCombines.length!=(i+1)">/</span>
            </span>
          </td>
          <td *ngIf=" mvt.produitsCombines.length==0">
            {{mvt.quantite}} {{getname(mvt.idProduit)}}

          </td>
          <td> <i (click)="edits(mvt)" style="background-color: #8DCE4C;padding-top: 10px;padding-bottom: 10px;"
              class=" btn far fa-edit cursor buttonround"></i>&nbsp;&nbsp;
            <i (click)="deletes(mvt)" style="background-color: #E82121;padding-top: 10px;padding-bottom: 10px;"
              class="btn far fa-trash-alt cursor  buttonround"></i>&nbsp;&nbsp;
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-mvt>
        <tr>
          <td [attr.colspan]="mvt.length">
            <div style="display: flex;
                            justify-content: center;">
              La liste est vide
            </div>

          </td>
        </tr>
      </ng-template>
    </p-table>
  </nb-card-body>
</nb-card>

<p-dialog header="Supprimer pack" [(visible)]="diplaypack" [modal]="true" [responsive]="true"
  [style]="{width: '700px', minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10">
  Voulez-vous bien supprimer ce pack ?
  <p-footer>
    <button type="button" nbButton [status]="'danger'" (click)="diplaypack=false;deletepack()">Supprimer</button>
    <button type="button" nbButton (click)="diplaypack=false" class="ui-button-secondary">Quitter</button>
  </p-footer>
</p-dialog>