.sendbutton {
  background-color: #79008e;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 9px;
}
.sendedbutton {
  background-color: #8066FF;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 9px;
}
