fieldset {
    display: block !important;
    margin-left: 2px !important;
    margin-right: 2px !important;
    padding-top: 0.35em !important;
    padding-bottom: 0.625em !important;
    padding-left: 0.75em !important;
    padding-right: 0.75em !important;
    border-bottom: 1px groove !important;
    border-top: 1px groove  !important;
  }
  legend {
    max-width: 20% !important;
   }