<ngx-bread-crumb></ngx-bread-crumb>
<nb-card  [nbSpinner]="loading" nbSpinnerStatus="primary" >
  <nb-card-header>
    <div class="row">
      <div class="col-md-6"><span style="font-size: 20px;">Modifier Mode Reglement</span></div>
    </div>
  </nb-card-header>
  <nb-card-body>
        <form [formGroup]="modeForm" (ngSubmit)="createmode()">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label  class="label">Désignation<span style="color: red">*</span></label>
                      <input type="text" maxlength="100" formControlName="designation" nbInput fullWidth  placeholder="Désignation" [ngClass]="{'has-error': istableFormSubmitted && (formControls.designation.errors )}">
                      <label *ngIf=" istableFormSubmitted && (formControls.designation.errors )" class="label-has-error"><i class="fas fa-exclamation-circle"></i>Veuiller  remplir votre Désignation</label>
                    </div>
                  </div>
                  <div class="col-sm-3">
                        <div class="form-group">
                            <br>
                            <nb-checkbox  fullWidth formControlName="ffidelite"  status="success">Fidélité</nb-checkbox>
                          </div>
                    </div>
                <div class="col-sm-3">
                        <div class="form-group">
                            <br>
                            <nb-checkbox formControlName="fnum"  status="success">Numéro</nb-checkbox>
                            </div>
                    </div>
              </div>
              <div class="row">
                    <div class="col-sm-3">
                            <div class="form-group">
                                <br>
                                <nb-checkbox formControlName="fvalidation"  status="success">Validation</nb-checkbox>
                              </div>
                        </div>
                    <div class="col-sm-3">
                            <div class="form-group">
                                <br>
                                <nb-checkbox formControlName="fdate"  status="success">Date</nb-checkbox>
                                </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <br>
                                <nb-checkbox formControlName="isactif"  status="success">Activé</nb-checkbox>
                                </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <br>
                                <nb-checkbox formControlName="fdefault"  status="success">Reglement par default</nb-checkbox>
                                </div>
                        </div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <label  class="label">Couleur</label>
                    <input [(colorPicker)]="color"  cpOutputFormat="rgba"     cpPosition="bottom" nbInput fullWidth [style.background]="color" (cpSliderDragEnd)="onEventLog('cpSliderDragEnd', $event)"/>
            
                  </div>
                </div>
              <div class="row" >
                <div class="col-6" >
                    <button (click)="returntolist()"  nbButton type="reset"  status="danger" style="float: left ;background: #ff3d71; margin-top: 15px; " [shape]="'round'" >Annuler</button>
      
                </div>
                <div class="col-6" >
                    <button  type="submit"   nbButton status="success" class="button-style"  style="float: right;" [shape]="'round'">Enregistrer</button>
      
                </div>
      </div>
              </form>               
  </nb-card-body>
</nb-card>
