<ngx-bread-crumb></ngx-bread-crumb>
<nb-card >
    <nb-card-header>
        <div class="row">
            <div class="col-md-6"><span style="font-size: 20px;">Groupes Client </span></div>
        </div>
    </nb-card-header>
  <nb-card-body >       
   
        <div class="row" style="margin-top:2%;">
                <div class="col-md-3">
              </div>
              <div class="col-md-5">
        
                </div>
        
              <div class="col-md-4">
                <div class="" style="text-align: center; margin-top: 8px;">
                  <button (click)="redirect()" style="float: right;"  class="icon-btn add-btn">  
                    <div class="add-icon"></div>
                    <div class="btn-txt">Ajouter un Nouveau groupe</div>
                  </button>
                </div>        
              </div>
              </div>
              <br>
              <div class="row">
                  <div class="col-md-12">
                          <!-- <span style="float: right">({{citoyens.length}} résultats)&nbsp;&nbsp;</span> -->
                          <span style="float: right">{{dt.totalRecords}} groupe(s)&nbsp;&nbsp;</span>
  
                  </div>
              </div>
              <br>
        <p-table #dt [value]="groupes" [columns]="cols" [rowsPerPageOptions]="[20,30,50]"  [rows]="20" [loading]="loading" [paginator]="true" [responsive]="true" autoLayout ="true" [globalFilterFields]="['designation','isActif','dateCreation']">
          <ng-template pTemplate="caption">
            <div style="text-align: right">        
                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Chercher" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:40%; min-height: 34px;">
            </div>
        </ng-template>      
          <ng-template pTemplate="header">
                  <tr>
                    <th>Désignation</th>
                    <th>Actif</th>
                    <th>Date Création</th>
                    <th>action</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-mvt>
                  <tr>
                    <td style="text-align: center;"><span style="padding: 10px;
                      border-radius: 10px;" [ngStyle]="{'background-color': mvt.couleur}">{{mvt.designation}}</span></td>
                    <td>{{mvt.isActif==1 ?'oui':'non'}}</td>
                    <td>
                        {{mvt.dateCreation |date:'dd-MM-yyyy'}}
                    </td>
                    <td style="text-align: center;"> <i (click)="edits(mvt)" nbTooltip="Modifier Groupe" nbTooltipPlacement="bottom" class=" far fa-edit cursor edit2button"></i>&nbsp;&nbsp;
                        <i (click)="deactive(mvt)" nbTooltip="Activé/Deactivé Groupe" nbTooltipPlacement="bottom" [ngClass]="{' fa-lock ':mvt.isActif!=0,' fa-unlock ':mvt.isActif==0,' deletebutton ':mvt.isActif!=0,' affiche2button ':mvt.isActif==0}" class="fas cursor "></i>&nbsp;&nbsp;
                         <i (click)="affichielist(mvt)" nbTooltip="Liste client" nbTooltipPlacement="bottom" class=" fas fa-list-ul cursor affiche1button"></i>&nbsp;&nbsp;

                    </td>                  
                </tr>
                </ng-template>
                <ng-template  pTemplate="emptymessage" let-mvt>
                    <tr>
                        <td [attr.colspan]="mvt.length" >
                            <div style="display: flex;
                            justify-content: center;">
                                La liste est vide
                            </div>
                            
                        </td>
                    </tr>
                </ng-template>
              </p-table>
</nb-card-body>
</nb-card>


<p-dialog  header="Déactiver Groupe" [(visible)]="displyagent" [modal]="true" [responsive]="true" [style]="{width: '700px', minWidth: '200px'}" [minY]="70"
[maximizable]="true" [baseZIndex]="10">

Voulez-vous bien déactiver ce groupe?
<p-footer>
    <button type="button" nbButton [status]="'danger'" (click)="displyagent=false;deleteagent()">Déactiver</button>
    <button type="button" nbButton  (click)="displyagent=false"  class="ui-button-secondary">Quitter</button>
  </p-footer>
</p-dialog>

<p-dialog  header="Ajouter un Groupe" [(visible)]="addgroupe" [modal]="true" [responsive]="true" [style]="{width: '700px', minWidth: '200px'}" [minY]="70"
[maximizable]="true" [baseZIndex]="10">

<form [formGroup]="groupeForm" >
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Désignation<span style="color: red">*</span></label>
          <input type="text"  maxlength="100" formControlName="designation" nbInput fullWidth  placeholder="Désignation" [ngClass]="{'has-error': isSubmitted && (formControls.designation.errors )}">
          <label *ngIf=" isSubmitted && (formControls.designation.errors )" class="label-has-error"><i class="fas fa-exclamation-circle"></i>Veuiller  remplir la désignation</label>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Couleur</label>
          <input [(colorPicker)]="color" cpPosition="bottom" nbInput fullWidth [style.background]="color" (cpSliderDragEnd)="onEventLog('cpSliderDragEnd', $event)"/>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <nb-checkbox formControlName="isActif"  status="success">Actif</nb-checkbox>
    </div>
    </div>
  </div>
  </form> 
<p-footer>
    <button type="button" nbButton [status]="'danger'" (click)="creategroupe()">Enregistrer</button>
    <button type="button" nbButton  (click)="addgroupe=false"  class="ui-button-secondary">Quitter</button>
  </p-footer>
</p-dialog>

<p-dialog  header="Modifier un Groupe" [(visible)]="editgroupe" [modal]="true" [responsive]="true" [style]="{width: '700px', minWidth: '200px'}" [minY]="70"
[maximizable]="true" [baseZIndex]="10">

<form [formGroup]="groupeForm" >
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Désignation<span style="color: red">*</span></label>
          <input type="text" maxlength="100" formControlName="designation" nbInput fullWidth  placeholder="Désignation" [ngClass]="{'has-error': isSubmitted && (formControls.designation.errors )}">
          <label *ngIf=" isSubmitted && (formControls.designation.errors )" class="label-has-error"><i class="fas fa-exclamation-circle"></i>Veuiller  remplir la désignation</label>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Couleur</label>
          <input [(colorPicker)]="color" cpPosition="bottom" nbInput fullWidth [style.background]="color" (cpSliderDragEnd)="onEventLog('cpSliderDragEnd', $event)"/>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <nb-checkbox formControlName="isActif"  status="success">Actif</nb-checkbox>
    </div>
    </div>
  </div>
  </form>
<p-footer>
    <button type="button" nbButton [status]="'danger'" (click)="creategroupe()">Enregistrer</button>
    <button type="button" nbButton  (click)="editgroupe=false"  class="ui-button-secondary">Quitter</button>
  </p-footer>
</p-dialog>


<p-dialog  header="Liste Client" [(visible)]="displylistclient" [modal]="true" [responsive]="true" [style]="{width: '700px', minWidth: '200px'}" [minY]="70"
[maximizable]="true" [baseZIndex]="10">
<div class="row">
    <div class="col-md-12">
            <!-- <span style="float: right">({{citoyens.length}} résultats)&nbsp;&nbsp;</span> -->
            <span style="float: right">{{dts.totalRecords}} Client(s)&nbsp;&nbsp;</span>

    </div>
</div>
<br>
<p-table #dts [value]="listclients" [columns]="cols2" [rowsPerPageOptions]="[20,30,50]"  [rows]="20" [loading]="loading2" [paginator]="true" [responsive]="true" autoLayout ="true" [globalFilterFields]="['nom','isActif','prenom','dateCreation']">
    <ng-template pTemplate="caption">
      <div style="text-align: right">        
          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Chercher" (input)="dts.filterGlobal($event.target.value, 'contains')" style="width:40%; min-height: 34px;">
      </div>
  </ng-template>      
    <ng-template pTemplate="header">
            <tr>
              <th>nom</th>
              <th>Prénom</th>
              <th>Actif</th>
              <th>connecter</th>
              <th>Date Création</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-mvt>
            <tr>
              <td>{{mvt.nom}}</td>
              <td>{{mvt.prenom}}</td>
              <td>{{mvt.isActive==1 ?'oui':'non'}}</td>
              <td>{{mvt.isconnected==1 ?'oui':'non'}}</td>
              <td>
                  {{mvt.dateCreation |date:'dd-MM-yyyy'}}
              </td>
                               
          </tr>
          </ng-template>
          <ng-template  pTemplate="emptymessage" let-mvt>
              <tr>
                  <td [attr.colspan]="mvt.length" >
                      <div style="display: flex;
                      justify-content: center;">
                          La liste est vide
                      </div>
                      
                  </td>
              </tr>
          </ng-template>
        </p-table>

</p-dialog>